= "#{@user.name}様"

p
  a href=("#{@url}")  = @url

p Insect Foodのご利用ありがとうございます。

p メールに心当たりがない場合、他の方がパスワードをリセットする際に誤って、
p お客様のメール アドレスを入力した可能性があります。リクエストした覚えがない場合は、
p 何も行わずにこのメールを破棄してください。


p アカウントに関してご不明な点がありましたら、問い合わせ画面よりご連絡をください。
