p ---------------

= "#{@user.name}様"

p ---------------

p
  a href=("#{@url}")  = @url

p Insect Foodのご利用ありがとうございます。

p こちらのリンクよりパスワードの変更を行なってください。
p メールに心当たりがない場合このメールを破棄してください。


p アカウントに関してご不明な点がありましたら、問い合わせ画面よりご連絡をください。
