p --------

= "#{@user.name}様"

p --------

p
  a href=("#{@url}")  = @url

Insect Foodのご利用ありがとうございます。

こちらのリンクよりパスワードの変更を行なってください。
メールに心当たりがない場合このメールを破棄してください。

アカウントに関してご不明な点がありましたら、問い合わせ画面よりご連絡をください。
