p ---------------

= "#{@user.name}様"

p ---------------

p insect foodへのご登録ありがとうございます。
p メールに心当たりがない場合このメールを破棄してください。
p アカウントに関してご不明な点がありましたら、問い合わせ画面よりご連絡をください。

= link_to 'https://insect-food.jp', 'https://insect-food.jp'
