@mixin btn-info($color) {
  position: relative;
  -webkit-transition: none;
  transition: none;
  text-decoration: none !important;
  box-shadow: 0 3px 0 $color;
  &:hover {
    top: 3px;
    box-shadow: none;
  }
}

//headerエリア
header {
  background-image: url("../../assets/images/istockphoto-1059673070-1024x1024.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  .top-header {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 600px;
  }
  .header-fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: 0.7s;
    &.scroll-nav {
      background: #876445;
      /* コンテンツの背景が白でもナビゲーションだと分かりやすいように影をつける */
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    }
  }

  .nav-font-size {
    font-size: 20px;
  }
  .icon-margin {
    margin-left: 4px;
  }
  p {
    font-size: 16px;
  }
  .header-text {
    position: absolute;
    bottom: 10%;
    right: 0;
  }
}
//headerエリア

//sectionエリア
.insect-p {
  p {
    font-size: 18px;
  }
}

.layer-eria {
  margin-right: 100px;
}

.btn-blue {
  @include btn-info(#0d6efd);
}

.btn-red {
  @include btn-info(#dd3444);
}
//sectionエリア

//footerエリア
footer {
  background-color: #876445;
}

//footerエリア
