@import "bootstrap";
@import "toppage";
@import "nav";
@import "login_create";
@import "flash";
@import "question";
@import "results";
@import "page";
@import "responsive";
@import "hamberger";

html {
  height: 100%;
}

form {
  padding: 0;
}

.form_padding_top {
  padding-top: 3rem;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

//sectionエリア
.insect-p {
  p {
    font-size: 18px;
  }
}

.layer-eria {
  margin-right: 100px;
}

.btn-blue {
  @include btn-info(#0d6efd);
}

.btn-red {
  @include btn-info(#dd3444);
}

.circle {
  border-radius: 50px;
}
//sectionエリア

//footerエリア
footer {
  position: sticky;
  top: 100vh;
  background-color: #5ea351;
  .icon {
    line-height: 40px;
  }
  left: 0;
}

.copy-ligth {
  line-height: 40px;
}
//footerエリア

//プロフィールエリア
.avatar-font-size {
  font-size: 12px;
}

//コメントエリア
.comment-td-area {
  width: 80px;
}

.trash-icon {
  height: 75px;
}
