@media screen and (max-width: 992px) {
  .pc-size {
    display: none;
  }

  .sm-h3-size {
    text-align: left;
    font-size: 16px;
    padding-top: 0;
  }

  .sm-h1-size {
    font-size: 24px;
  }

  .sm-font-size {
    text-align: left;
    font-size: 12px;
  }

  .sm-font-p-size {
    font-size: 16px;
  }
}
