@mixin btn-info($color) {
  position: relative;
  -webkit-transition: none;
  transition: none;
  text-decoration: none !important;
  box-shadow: 0 3px 0 $color;
  &:hover {
    top: 3px;
    box-shadow: none;
  }
}

//headerエリア
.text-decoration-none {
  &:hover {
    text-decoration-line: none;
  }
}
header {
  background-image: image-url("iStock-1059673070.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  overflow: auto;
  .top-header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.55);
    height: 600px;
  }
  .header-fixed {
    width: 100%;
    position: fixed;
    z-index: 10;
    transition: 0.7s;
    &.scroll-nav {
      background: #5ea351;
      /* コンテンツの背景が白でもナビゲーションだと分かりやすいように影をつける */
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    }
  }

  .nav-font-size {
    font-size: 20px;
  }
  .icon-margin {
    margin-left: 4px;
  }
  p {
    font-size: 16px;
  }
  .header-text {
    position: absolute;
    bottom: 10%;
    right: 0;
  }
}
//headerエリア

//footer
.twitter-icon {
  font-size: 20px;
}
